@charset "utf-8";

#logo{
    width: 100px;
}

h1{
    font-family: "Soleto XBold", "Open Sans", "Tahoma Bold", sans-serif;
    font-size: 3em;
    text-align: center;
}

nav li{
    background-color: magenta;
    margin: 0;
    padding: 0;
    border: 2px solid darkviolet;
    text-align: center;
    list-style-type: none;
    padding: 10px 0;
    margin: 10px 0;
}

li a{
    text-decoration: none;
    
}

#loginform{
    float: right;
    width: 200px;
}